<ngb-alert *ngIf="successMessage" type="danger" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
<div class="header">
    <div class="back" (click)="backClicked()">
        <span class="material-icons">
                        keyboard_arrow_left
                        </span>
    </div>
    <span class="font-weight-bold">Order details</span>
</div>
<div class="order-details">
    <!-- My order -->
    <div class="pt-3">
        <div class="frame">
            <div class="title">
                My order
            </div>
            <div class="content">
                <div class="row" *ngFor="let item of itemOrder; let i= index">
                    <div class="col-8 product-name">
                        <span>{{item.quantity}}</span> x <span class="">{{item.name}}</span>
                    </div>
                    <div class="col-4">
                        <span class="float-right">
                            {{ (item.quantity * item.price)| currency:'VND':'symbol':'3.':'fr' }}
                        </span>
                    </div>
                </div>
                <div class="total-money">
                    <span>
                        Total money
                    </span>
                    <span class="float-right">
                        {{totalPrice | currency:'VND':'symbol':'3.':'fr' }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact info -->
    <div class="pt-3">
        <div class="frame">
            <div class="title">
                Contact info
            </div>
            <div class="content">
                <form [formGroup]="registerForm">
                    <div class="form-group">
                        <input type="text" formControlName="username" class="form-control input-info" nbInput [ngClass]="{ 'is-invalid':(f.username.touched && f.username.errors ) }" [(ngModel)]="username" placeholder="Username" name="username">
                        <div class="required">
                            <div *ngIf="submitted && f['username'].errors">
                                <div class="float-right" *ngIf="f['username'].errors.required">Username is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="tel" formControlName="phone" [(ngModel)]="phone" placeholder="Phone" name="phone" [ngClass]="{ 'is-invalid': (f.phone.touched && f.phone.errors )}" nbInput class="form-control input-info">
                        <div class="required">
                            <div *ngIf="f['phone'].invalid && ((f['phone'].dirty || f['phone'].touched || f['phone'].errors ))">
                                <div class="float-right" *ngIf="submitted && f['phone'].errors.required">Phone is required</div>
                                <div class="float-right" *ngIf="f['phone'].errors.pattern">Incorrect telephone number</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="address" class="form-control input-info" nbInput [ngClass]="{ 'is-invalid':(f.address.touched && f.address.errors ) }" [(ngModel)]="address" placeholder="Address" name="address">
                        <div class="required">
                            <div *ngIf="submitted && f['address'].errors">
                                <div class="float-right" *ngIf="f['address'].errors.required">Address is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="frame-order">
    <button type="button" class="order-button" (click)="order()">Order</button>
</div>