<div class="container-fluid mb-5">
    <div class="row header">
        <div class="col-12">
            <div class="tophead">
                <div class="back" (click)="backClicked()">
                    <span class="material-icons">
                                    keyboard_arrow_left
                                    </span>
                </div>
                <div class="d-flex align-items-center">
                    <app-input-search (focusOut)="searchItem($event)"></app-input-search>
                    <div class="position-relative">
                        <img class="icon" src="../../assets/image/shopping-cart.png">
                        <strong *ngIf="orderQuantity > 0" class="quantity-order">{{orderQuantity}}</strong>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-frame-item *ngFor="let item of item; let i= index">
        <img class="product-img" img [src]="item.img">
        <div content>
            <div class="product-name" content>{{item.name}}</div>
            <div class="product-title">{{item.sale}}</div>
        </div>
        <app-input-quantity [quantity]="item.quantity" quantity (flag)="order($event)" (focusOut)="quantity($event, i)"></app-input-quantity>
    </app-frame-item>
</div>
<div class="frame-order">
    <button *ngIf="orderQuantity > 0" type="button" class="order-button animation-up" (click)="placeOrder()"> Place order </button>
</div>